$black:  #000;
$white:  #fff;
$gold:   #ffd700;
$red:    #ff8800;

$primary:      #1b2839;
$alt-primary:  #a3c8de;
$secondary:    #171a21;

$gray:  #b8b6b4;
$alt-nav-text: #d9d9d9;

$text:      #fff;
$blue:      #66c0f4;
$alt-text:  #c7d5e0;