.btn {
   display: inline-block;
   padding: .6em 2.5em;

   color: rgba($white, .6);
   font-family: inherit;
   font-size: 1.2rem;
   font-weight: 500;
   text-decoration: none;

   border: none;
   border-radius: .6em;
   outline: none;
   background: #363636;

   cursor: pointer;

   transition: background-color .2s linear, color .2s linear;

   &--lib {
      font-size: 1.8rem;
   }

   &--add-game {
      margin-left: auto;
      margin-top: 1.5rem;
      font-size: 2rem;
   }

   &:hover {
      background-color: #5c2a7f;
      color: $white;
   }
}

.btn--link {
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   text-align: left;

   background: none;
   border: none;
   cursor: pointer;
}